body {
	margin: 0em;
}

div#app-container {
	font-family: Helvetica, sans-serif;
	
	position: relative;
	width: 100%;
}

div#header {
	top: 0px;
	
	width: 100%;
	background-color: #777777;
	color: #CCCCCC;
	
	padding: 0px 5px 0.5em;
}

div#header div#view-name {
	padding-top: 1em;
	font-family: Futura, Helvetica, sans-serif;
	font-size: 150%;
}

div#header div#color-bar {
	width: 100%;
	height: 4em;
	
	margin-bottom: 0.5em;
}

div#palette {
	position: relative;
}

div#add-control {
	width: 5em;
	height: 5em;
	padding: 0em;
	text-align: center;
	vertical-align: middle;
		
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
	
	box-sizing: border-box;
	position: relative;
}

div#add-control div#add-label {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

div#export {
	position: relative;
	padding: 5px;
	border-width: 1px;
	border-style: dashed;
	border-color: #CCCCCC;
		
	word-wrap: break-word;
}

div#export div.label {
	margin-bottom: 5px;
}

div#export div.json {
	font-family: Anonymous, monospace;
	font-size: 10pt;
}