<html ng-app="colorPalApp" ng-csp>
<head>
	<title>Color Pal &emdash; Color Palette Tool</title>
	
	<link rel="stylesheet" type="text/css" href="lib/spectrum.css">
	<link rel="stylesheet" type="text/css" href="colorpal.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="app/colorentry/colorentry.css">
	<link rel="stylesheet" type="text/css" href="app/colorvolume/colorvolume.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="app-container" ng-controller="colorPaletteController">
		<div id="header">
			<div id="color-bar"></div>
			<div id="view-name">ColorCubby</div>
		</div>
		
		<div id="palette">
			<div class="cp-entry-container" ng-repeat="colorEntry in colorPalette">
				<cp-entry cp-color="colorEntry" cp-entry-index="$index"></cp-entry>
			</div>
		</div>
		
		<div id="add-control" ng-click="appendColor()">
			<div id="add-label" style="font-size: 1.5em">+</div>
		</div>
	
		<!--
		<div id="export">
			<div class="json">{{exportURL}}</div>
		</div>
			-->
	</div>
	
	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/jquery.js"></script>
	<script type="text/javascript" src="lib/spectrum.js"></script>
	<script type="text/javascript" src="lib/tinycolor.js"></script>
	
	<script type="text/javascript" src="app/colorentry/colorentry.js"></script>
	<script type="text/javascript" src="app/colorpalette/colorpalette.js"></script>
	<script type="text/javascript" src="app/colorpal.js"></script>
	
	<!-- Angular template cache stuff -->
	<script type="text/ng-template" id="app/colorentry/colorentry.html">
		<div class="color-entry" ng-controller="cpEntryController" edit-mode="{{editMode}}">
			<div class="swatch-container" ng-click="toggleModeAndSave()">
				<div id="swatch" class="swatch" style="background-color: {{cpColor.rgbcolor}}"></div>
				<div id="compare-swatch" class="swatch-compare" style="background-color: {{editColorString}}"></div>
			</div>
			<div id="visible-label">{{cpColor.label}}</div>
			<div id="edit-panel" changed="{{changed}}">
				<input id="label-input" type="text" ng-model="cpColor.label">
				<!-- <input type="range" min="0" max="100" ng-model="cpColor.share"/> -->
				<input type="range" min="0" max="255" ng-model="red"/>
				<input type="range" min="0" max="255" ng-model="green"/>
				<input type="range" min="0" max="255" ng-model="blue">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</button>
					<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-paperclip"></span> Copy</button>
				</div>
				
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-sm" id="entryEditCancel" ng-click="cancelEditMode()">Cancel</button>
				</div>
				<!--<a href="#" class="cpEntryAction" ng-click="removeColor(cpEntryIndex)">[remove]</a>
				<a href="#" class="cpEntryAction" ng-click="copyColor(cpEntryIndex)">[copy]</a>-->
			</div>
		</div>
	</script>
</body>