<html ng-app="colorPalApp" ng-csp>
<head>
	<title>Color Pal &emdash; Color Palette Tool</title>
	
	<link rel="stylesheet" type="text/css" href="lib/spectrum.css">
	<link rel="stylesheet" type="text/css" href="colorpal.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="app/colorentry/colorentry.css">
	<link rel="stylesheet" type="text/css" href="app/colorvolume/colorvolume.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="app-container" ng-controller="colorPaletteController">
		<div id="palette">
			<div class="cp-entry-container" ng-repeat="colorEntry in colorPalette">
				<cp-entry cp-color="colorEntry" cp-entry-index="$index"></cp-entry>
			</div>
		</div>
		
		<div id="add-control" style="font-size: 1.5em" ng-click="appendColor()">
			<div id="add-label">+</div>
		</div>
		
		<div id="color-editor">
			<a href="" ng-click="closeEditor()">[Close]</a>
		</div>
	</div>
	
	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/jquery.js"></script>
	<script type="text/javascript" src="lib/spectrum.js"></script>
	<script type="text/javascript" src="lib/tinycolor.js"></script>
	
	<script type="text/javascript" src="app/colorentry/colorentry.js"></script>
	<script type="text/javascript" src="app/colorpalette/colorpalette.js"></script>
	<script type="text/javascript" src="app/colorpal.js"></script>
	
	<!-- Angular template cache stuff -->
	<script type="text/ng-template" id="app/colorentry/colorentry.html">
		<div class="color-entry" ng-controller="cpEntryController">
			<div class="swatch-container" ng-click="showEditor()">
				<div id="swatch" class="swatch" style="background-color: {{cpColor.rgbcolor}}"></div>
			</div>
		</div>
	</script>
</body>
